:root {
    --bgc: lightblue;
    --header-color: rgb(84, 189, 225);
    --accent-color: sandybrown;
    --book-color: salmon;
    --not-read-color: #f86368;
    --read-color: #00ba37;
    --color-white: #ffffff;
    --color-green-1200: #00211b;
    --color-green-600: #27ddbb;
    --color-green-900: #00866d;
    --color-primary: var(--color-green-1200);
    --color-secondary: var(--color-green-600);
    --color-link-hover: var(--color-green-900);
}

* {
    box-sizing: border-box;
}

body,
html {
    min-height: 100vh;
}

/* Need to decide on styling later */
header {
    display: flex;
    justify-content: space-between;
    background-color: var(--color-white);
    padding: 1rem 2rem 0;
    height: 100px;
    margin-bottom: 10px;
    border-bottom: 1px #E5E5E5 solid;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 4px 8px 0px;
}

header img {
    height: 100%;
}


.header-left,
.header-right {
    display: flex;
    column-gap: 2rem;
    align-items: center;
}

.header-actions {
    list-style-type: none;
    display: flex;
    align-self: end;
}

.header-actions li {
    display: flex;
    align-items: center;
    margin-right: 10px;
}

.icon {
    margin-right: 5px;
}

/* -5px margin bottom to align icon with text */
.icon svg {
    height: 20px;
    width: 20px;
    display: inline-block;
    margin-bottom: -5px;
    fill: var(--color-primary)
}

.library-container {
    height: 100vh;
    width: 100%;
    background-color: var(--color-white);
    padding-bottom: 1rem;
}

.library {
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(4, minmax(100px, 1fr));
    grid-template-rows: repeat(auto-fit, minmax(300px, 1fr));
    ;
}

.book-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: rgb(0 0 0 / 24%) 0px 3px 8px;
    border-radius: 5px;

}

.book-card--image {
    background-color: beige;
    height: 250px;
    width: 100%;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.btn-delete {
    size: 50px;
    background-size: contain;
    background-position: center;
    background-image: url(img/delete-2-svgrepo-com.svg);
}



::backdrop {
    background-image: linear-gradient(45deg,
            magenta,
            rebeccapurple,
            dodgerblue,
            green);
    opacity: 0.75;
}

.red-book {
    background-image: url("img/red-book.svg");
}

.green-book {
    background-image: url("img/green-book.svg");
}

.blue-book {
    background-image: url("img/blue-book.svg");
}

.read-status {
    display: flex;
    column-gap: 3em;
    align-items: center;
}

/* The switch - box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

/* hide default html checkbox */
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--not-read-color);
    -webkit-transition: .4s;
    transition: .4s;
}

/* ::before psuedo element */
/* NTS: double colon :: is for psuedo elements, wheras : is for pseudo classes ei. a:link */
.slider::before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    background-image: url("img/glasses-off-svgrepo-com.svg");
    background-size: contain;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked+.slider {
    background-color: var(--read-color);
}

input:checked+.slider::before {
    background-image: url("img/glasses-svgrepo-com.svg");
}

input:focus+.slider {
    box-shadow: 0 0 1px var(--read-color);
}

input:checked+.slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}